<br />
<br />
<div
  class="container"
  style="max-width: 600px; background-color: hsla(113, 100%, 50%, 0.635)"
>
  <br />
  <br />
  <h2 class="textual">Consumer Registration Form</h2>
  <form #Registrationform="ngForm" (ngSubmit)="registerUser()">
    <small class="text-danger">{{ msg }}</small>
    <!-- <small [class.text-danger]="msg.status == 500">{{ msg.message }}</small> -->
    <div class="form-group">
      <label for="consumerName">Consumer Name :</label>
      <input
        type="text"
        class="form-control"
        placeholder="Enter a consumer name"
        name="consumerName"
        [(ngModel)]="consumer.consumerName"
        #consumerName="ngModel"
        required
        [class.is-invalid]="consumerName.invalid && consumerName.touched"
      />
      <small
        class="text-danger"
        [class.d-none]="consumerName.valid || consumerName.untouched"
        >Consumer Name is required field</small
      >
    </div>

    <div class="form-group">
      <label for="email">Email:</label>
      <input
        type="email"
        class="form-control"
        placeholder="Enter email"
        name="email"
        [(ngModel)]="consumer.email"
        required
        pattern="^[a-zA-Z0-9+_.-]+@[a-zA-Z0-9.-]+$"
        #email="ngModel"
        [class.is-invalid]="email.invalid && email.touched"
      />
      <div *ngIf="email.errors && email.invalid && email.touched">
        <small class="text-danger" *ngIf="email.errors?.['required']"
          >Email Id is required field</small
        >
        <small class="text-danger" *ngIf="email.errors?.['pattern']"
          >Enter the valid Email Id</small
        >
      </div>
    </div>

    <div class="form-group">
      <label for="city">Consumer City :</label>
      <input
        type="text"
        class="form-control"
        placeholder="Enter a consumer city"
        name="city"
        [(ngModel)]="consumer.city"
        #city="ngModel"
        required
        [class.is-invalid]="city.invalid && city.touched"
      />
      <small class="text-danger" [class.d-none]="city.valid || city.untouched"
        >Consumer city is required field</small
      >
    </div>

    <div class="form-group">
      <label for="area">Consumer Area :</label>
      <input
        type="text"
        class="form-control"
        placeholder="Enter a consumer area"
        name="area"
        [(ngModel)]="consumer.area"
        #area="ngModel"
        required
        [class.is-invalid]="area.invalid && area.touched"
      />
      <small class="text-danger" [class.d-none]="area.valid || area.untouched"
        >Consumer Area is required field</small
      >
    </div>

    <div class="col-md-6 mb-4">
      <h6 class="mb-2 pb-1">plan :</h6>

      <div class="form-check form-check-inline">
        <input
          class="form-check-input"
          type="radio"
          name="inlineRadioOptions"
          id="domestic"
          value="1"
          checked
          [(ngModel)]="consumer.planType.rateId"
        />
        <label class="form-check-label" for="domesticplan">Domestic</label>
      </div>

      <div class="form-check form-check-inline">
        <input
          class="form-check-input"
          type="radio"
          name="inlineRadioOptions"
          id="comercial"
          value="2"
          [(ngModel)]="consumer.planType.rateId"
        />
        <label class="form-check-label" for="comercial">Commercial</label>
      </div>
    </div>

    <div class="form-group">
      <label for="pwd">Password:</label>
      <input
        type="password"
        class="form-control"
        placeholder="Enter password"
        name="password"
        [(ngModel)]="consumer.password"
        required
        pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,}$"
        #password="ngModel"
        [class.is-invalid]="password.invalid && password.touched"
      />

      <div *ngIf="password.errors && password.invalid && password.touched">
        <small class="text-danger" *ngIf="password.errors?.['required']"
          >Password is required field</small
        >
        <small class="text-danger" *ngIf="password.errors?.['pattern']"
          >Enter the valid Password</small
        >
      </div>
    </div>

    <div class="form-group">
      <label for="pwd">Confirm Password:</label>
      <input
        type="password"
        class="form-control"
        placeholder="Enter confirm password"
        name="cpassword"
        #cpassword="ngModel"
        (ngModel)="(consumer.password)"
        required
        [class.is-invalid]="cpassword.invalid && cpassword.touched"
      />
      <small
        class="text-danger"
        [class.d-none]="
          cpassword.value == password.value || cpassword.untouched
        "
        >Password and Confirm Password must be same</small
      >
    </div>
    <br />
    <br />
    <button
      [disabled]="Registrationform.form.invalid"
      type="submit"
      class="btn btn-info"
    >
      Register
    </button>
    <small class="float-right btextual" [routerLink]="['/login']"
      ><b>Existing user ? Login here</b></small
    >
  </form>
</div>
<!-- <div
  style="
  
    min-width: 100%;
    min-height: 200%;
    background-image: url('https://www.hdwallback.net/wp-content/uploads/2018/01/Light-Background-Wallpaper.jpg');
  "
>
</div> -->
